.card {
  border: 1px solid #F3F3F3;
  padding: 30px;
  width: 210px;
  border-radius: 40px;
  //margin-right: 30px;
  transition: all ease-in-out .2s;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    transition: all ease-in-out 0.2s;
  }

  .item {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }


  h5 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
  }
  .cardBottom {
    flex-grow: 1;

    p {
      font-size: 11px;
      color: #BDBDBD;
      text-transform: uppercase;
    }

    b {
      font-size: 14px;
      margin-top: 3px;
    }
    .addToCart {
      transition: all ease-in-out 0.2s;
    }
  }
}
