.title {
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;

    .search {
      margin-top: 20px;
    }
  }

  .text {
    margin: 0;
  }

  .search {
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;

    .clearInput {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 10px;
      right: 10px;
    }

    input {
      border: 0;
      padding: 10px;
      font-size: 14px;
      outline: none;
      width: 200px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 30px 30px;
}