.header {
  border-bottom: 1px solid rgba(234, 234, 234, 0.5);

  .icons {
    transition: all ease-in-out .2s;
  }

  h3 {
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
  }

  p {
    color: #9D9D9D;
    font-size: 14px;
  }

  span {
    font-weight: 600;
    font-size: 14px;
  }
}
